

#question{
    -fx-font-size:15pt;
}

.root{
    -fx-font-size: 10pt;
    -fx-background-color: #FFA500;
}
.button{
    -fx-hgap: 35px;
    -fx-vgap: 65px;
    -fx-background-color:#ff0000;
    -fx-border-radius: 20;
    -fx-background-radius:20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

